.todo-no {
    width: 5%;
}

.todo-title {
    width: 20%;
}

.todo-description {
    width: 45%;
}

.todo-date {
    width: 15%;
}

.todo-action{
    width: 15%;
}

.todo-action a {
    margin-inline: 0.9rem;
}